nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  color: #04aa6d;
  text-decoration: none;
}

a,
a:visited {
  text-decoration: none;
}
