h1 {
  text-align: center;
}

.sorting_section {
  display: flex;
  justify-content: space-around;
}

#entries,
#search {
  margin: 10px;
}

#search {
  padding-left: 50px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #044e30;
  color: white;
}

.links {
  margin-top: 20px;
  text-align: center;
}

.no-data {
  text-align: center;
}

.pagination-info {
  margin-left: 100px;
}
